
 .more-icon {
    opacity:0;
     -webkit-transition:.7s;
     -o-transition:.7s;
     transition:.7s;
}
 .cap {
    opacity:.8;
     -webkit-transition:.3s;
     -o-transition:.3s;
     transition:.3s;
     cursor:pointer;
}
 .cap__pic {
    -webkit-transition:.7s;
    -o-transition:.7s;
    transition:.7s;
}
 .cap:hover {
    opacity:1;
}
 .cap:hover .cap__pic {
    opacity:0;
}
 .cap:hover .more-icon {
    opacity:1;
}
 .cap__bg_overlay {
    stroke:#99d0f7;
     stroke-width:0;
     fill:none;
     -webkit-transition:.5s;
     -o-transition:.5s;
     transition:.5s;
}
 .capabilities {
    text-align: center;
}
 .capabilities__svg {
    max-width: 100%;
}
 @-webkit-keyframes bg-overlay {
     0% {
         stroke-width:2px;
    }
     50% {
        stroke-width:8px;
    }
     100% {
        stroke-width:2px;
    }
}
 .cap:hover .cap__bg_overlay {
    -webkit-animation: bg-overlay 5s infinite;
     animation: bg-overlay 1.5s infinite;
     -webkit-filter:url(#blurMe);
     filter:url(#blurMe);
}
 .desc {
     width: 0px;
     height: 0px;
     overflow: hidden;
     background: #33a8d2;
     position: fixed;
     color: #33a8d2;
     z-index: 9999;
}
 .desc__content {
     color: #333;
     width: 70%;
     height: 100%;
     background: #fff;
     display: inline-block;
     float: left;
}
 .desc__content-inner {
     height: 100%;
} 
 .desc__content-inner h2 {
     margin: 0;
    padding: 5%;
        height: 10%;
} 

.desc__content-text {
    overflow-y: auto;
    padding: 0% 5%;
    height: 55%;
}


.desc__more-p {
    display: block;
    padding: 1em;
    margin:  0;
    text-align: center;
}

.desc__more {
    font-family: NovecentowideNormal;
    text-decoration: none !important;
    color: #fff !important;
    background: #ffae00;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: .4s;
    display: inline-block;
}

.desc__more:hover {
     opacity: .8;
}

.desc__side {
     float: left;
     display: inline-block;
     width: 30%;
     position: relative;
     height: 100%;
     color: #fff;
     vertical-align: top;
     background-size: 80%;
     background-repeat: no-repeat;
     background-position: center;
}

 .desc__side-inner{
     padding:10%;
}
 .desc__close {
    color: #fff !important;
     text-decoration: none !important;
     float: right;
     cursor:pointer;
     font-family: NovecentowideNormal;
}
 .popup-overlay {
    z-index: 888;
     top:0;
     left: 0;
     background: rgba(0,0,0,.7);
     position: fixed;
     width: 100%;
     height: 100%;
     -webkit-transition: .6s;
     -o-transition: .6s;
     transition: .6s;
     pointer-events: none;
     opacity: 0;
}

/* You should use your path for icons used in pop-up sidebar */

 .engineered-desc .desc__side {
     background-image: url(img/engineered.svg);
}
 .rental-desc .desc__side {
     background-image: url(img/rental.svg);
}
 .inspection-desc .desc__side {
     background-image: url(img/inspection.svg);
}
 .personal-desc .desc__side {
     background-image: url(img/personal.svg);
}
 .fire-desc .desc__side {
     background-image: url(img/fire.svg);
}
 .occupational-desc .desc__side {
     background-image: url(img/occupational.svg);
}
 .industrial-desc .desc__side {
     background-image: url(img/industrial.svg);
}
 .env-desc .desc__side {
     background-image: url(img/environmental.svg);
}
 .respiratory-desc .desc__side {
     background-image: url(img/respiratory.svg);
}
 .software-desc .desc__side {
     background-image: url(img/software.svg);
}
 .training-desc .desc__side {
     background-image: url(img/training.svg);
}
 .consulting-desc .desc__side {
     background-image: url(img/consulting.svg);
}
 
 .hover-link , .hover-link_noBG{
    
    cursor: pointer;
 }



 .hover-link path {
      
     -webkit-transition:.7s;
     -o-transition:.7s;
     transition:.7s;
 }

 .hover-link:hover path {
    fill: #68addeff;
 }


#path26{
      
     -webkit-transition:.7s;
     -o-transition:.7s;
     transition:.7s;
 }
#partnersCircle:hover #path26 {
    fill: #68addeff !important;
 }